.topbarContainer{
    height: 50px;
    width: 100%;
    background-color:rgb(140, 183, 233);
    display:flex;
    align-items:center;
    position: sticky;
    top:0;
    z-index: 999;
}
.topbarLeft{
    flex:3;
    padding-left: 5.5rem;
    display: flex;
}
.logo{
    font-size:  24px;
    margin: left 20px;
    color:rgb(255, 255, 255);
    cursor: pointer;
}
.burgerNav{
    display: flex;
    align-items: center;
   padding-left: 0.5em;
    margin-right: 15px;
    cursor: pointer;
}
.topbarCenter{
    flex:8;
    display: flex;
   
}
.searchbar{
    width: 70%;
     height: 30px;
    background-color:white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.searchIcon
{
    font-size: 20px !important;
    margin-left: 10px;
  
}
.searchInput
{
   border:none; 
     width: 70%;
}
.searchInput:focus
{
outline: none;
}
.topbarRight{
    flex:4;
    display: flex;
    align-items: center;
    justify-content:space-around;
    color:white;
   
}
.topbarLink{
    margin-right: 10px;
    font-size:  14px;
    cursor: pointer;
}
.topbarIcons{
    display: flex;
}

.topbarIcons svg {
  height: 28px;
  width: 28px;
}
.topbarIconItem
{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}
.topbarIconBadge
{
    width: 15px;
    height: 15px;
    background-color:red;
    border-radius: 50%;
    color:white;
    position:absolute;
       top: -5px;
    right: -5px;
    display: flex;
    justify-content:center;
    font-size: 12px;
}
.topbarImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    padding: 0 0.5em 0;
 
}
.topbarIcon{
  width: 32px;
  height: 32px;

  object-fit: cover;
  cursor: pointer;
  padding: 0 0.5em 0;

}
/* menuBurger */
#page-wrap {
    text-align: center;
  
    /* Prevent sidebar from showing a scrollbar on page */
    overflow: auto;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
  }
  
  /* Change color on hover */
  .bm-item:hover {
    color: white;
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    left: 20px;
    top: 20px;
    
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  /* //dot// */
  .more-dot {
    background-color: #aab8c2;
    margin: 0 auto;
    display: inline-block;
 
    margin-right: 1px;
    border-radius: 50%;
    transition: background-color 0.3s;
    opacity: 1;
    transform: translate(0, 0) scale(1);
    pointer-events: auto;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  
  font-family: "Open Sans", Arial, sans-serif;
  color: #042e72;
  /* font-size: 1em;
  line-height: 1.5;
  padding: 1rem; */
}

.container {
  
 
  position: relative;
  display: inline-block;
}

/* .button {
  padding: 0;
  width: 50px;
  border: 0;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 40px;
} */

.dropdown-wrapper {

  position: absolute;
  top: 100%;
  left: -276px;
  width: 300px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.dropdown-menu {
  background-color:white;
  list-style: none;
  padding: 0;
  margin: 0;
}
.dropdown-menu__item {
  padding: 8px 12px;
}
.dropdown-menu__item:hover {
  
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

